img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

p {
  max-width: 60ch;
}

.texto {
  align-self: center;
}

.cover img {
  /* Ocupar 100% do elemento pai, no caso o total da sua parcela no grid */
  height: 100%;
  /* Parecido com o background-size só que para tags <img> */
  object-fit: cover;
  /* Parecido com o background-position só que para tags <img> */
  object-position: top right;
}
