.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 120px 20px 60px 20px;
}

.footer-texto {
  font-size: 1.5rem;
  /* max-width: 40ch; */
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.1;
  color: #fff;
}

.footer-contato li a {
  color: inherit;
}

.footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}
